#active{
	background: #777;
	color: #fff;
}

#result{
	/* font-weight: bold; */
	font-size:large;
	border:0;
	color:#666666;
}
.frame {
	width: auto;
	height : auto;
	margin: 0 auto;

}
.header {
	text-align: center;
}
.logo {
	font-size: 30px;
	/* font-weight: bold; */
	padding: 20px;
	margin : auto auto;
	display: block;
	text-align: center;
	background-color: steelblue;
}

.container {
	display : grid;
	grid-template-columns: 150px 1fr;
}
@media (max-width:500px) {
	.container{
		display : inline-block;
		width:100%;
	}
}
@media (min-width:501px){
	li a{
		width:150px;
		padding:5px 0px 5px 0px;
	}
}
.nav {
	background: #aaa;
	color: #111;
}

.nav-list {
	list-style: none;
	margin: 0px;
	/* padding: 10px 10px; */
}

.content {
	float: left;
	background-color: white;
	height:50vh;
	padding: 10px;
	margin:0;
	grid-template-columns: 1fr;
}

.footer {
	border-top: 1px solid #aaa;
	margin: 20px 20px 0;
	font-size: 12px;
}


table{
	/* margin:10px; */
	width:auto;

}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

li a:hover {
  background-color: #111111;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

tr{
		height: 50px;
}
td input{
	text-align:center;
	width:100%;
}

input {
	height:24px;
	text-align: center;
}

body {
	  font-family: 'Jeju Gothic', sans-serif;
    text-decoration: none;
	}

a { /* a is selector for a tag*/
  text-decoration: none; /* the sentence is declaration */
	color:black; /* property and value */
}

#타입{
	width:100%;}

td#unit{
	width:5%;
}

#value{
	width:50%;
}
#item{
	width:45%;
}

td#tool_title{
	font-weight:bold;
	text-align:left;
	font-size:large;
}
